@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700|Raleway:300,400,700');

body{

background-image: url('../images/fondo.jpg');
    background-repeat:  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg{
    background-color: dodgerblue!important;
}
h1{
    color: white!important;
    margin-top: 30px!important;
    margin-bottom: 30px!important;
    font-family: 'Raleway', sans-serif;
    font-size: 25px!important;
}
p{
    font-family: 'Muli', sans-serif;
    
}

.caja{
    border-radius: 10px;
    border: 1px solid gray;
    text-align: center;
    width: 180px;
    height: 150px;
    margin-right: 10px;
    margin-top: 10px;
    background-color:#f2f2f2;
}
.big{
    font-size: 45px!important;
}
.icon{
    width: 50px;
    height: 50px;
}
footer{padding-top: 10px;
    font-size: 11px;
        position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color:white;
    margin-top: 30px;
    background-color: dodgerblue;
    width: 100%;
    height: 30px;
}

#img1:hover{
    background-image: url('../images/fuego.jpg');
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#img2:hover{
    background-image: url('../images/avalancha.jpg');
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#img3:hover{
    background-image: url('../images/terremoto.jpg');
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#img4:hover{
    background-image: url('../images/tsunami.jpg');
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#img5:hover{
    background-image: url('../images/inundacion.jpg');
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#img6:hover{
    background-image: url('../images/huracan.jpg');
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#img7:hover{
    background-image: url('../images/volcan.jpg');
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

